/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

@font-face{
	src: url('.myFont.ttf');
}

@font-face{
	src: url('.titleFont.otf');
}

.home_style{
	-fx-background-color: #ffffe3;
}
	
.create_style{
	-fx-background-color: #e1f7d5;
}

.view_style{
	-fx-background-color: #f2cef2;
}

.learn_style {
	-fx-background-color: #FFDB99;
}

.root{
	-fx-font-family:'GoodDog Plain';
	-fx-font-size:25px;
	-fx-font-color:white;
	-fx-background-color:#BBEEFF;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.list-cell{
	-fx-background-color:white;
    -fx-font-size:30;
}

.list-cell:even{
	-fx-background-color:ghostwhite;
}

.list-cell:selected{
	-fx-background-color:#bbccff;
	-fx-text-fill:white;
	
}

.tab {
	-fx-pref-height: 30px;
	-fx-pref-width: 299px;
    -fx-font-size: 40px; /* all the same except this newly added one */
}

.tab-pane .tab-header-area .tab-header-background {
	
	-fx-background-color: #BBEEFF;
}

.tab-pane {
	-fx-padding: -10 -10 -10 -10;
}

.button, .toggle-button{
	-fx-font-size:30px;
	-fx-text-fill:white;
	-fx-background-color:#bbccff;
	-fx-font-weight: bold;
	-fx-background-radius: 30;
	-fx-border-color: white;
	-fx-border-radius: 27;
	-fx-border-width: 3 3 3 3;
}

.toggle-button:selected {
	-fx-background-color: #D5DFFF;
}

.combo-box{
	-fx-font-size:18px;
	-fx-background-color:#bbccff;
	-fx-background-radius: 50;
	-fx-border-color: white;
	-fx-border-radius: 0 47 47 0;
	-fx-border-width: 3 3 3 3;
	
}

.combo-box .arrow{
    -fx-background-color: white;
}

.combo-box-popup .list-view .list-cell:filled:hover 
{
	-fx-background-color:#D5DFFF;
}

.combo-box-base {
	-fx-background-radius:50px;
}

.combo-box-base:focused {
	-fx-background-radius:50px;
}

.border{
	-fx-padding:5px;
	-fx-background-color: #bbccff;
}

.blackBorder {
	-fx-border-color: black;
	-fx-border-width: 2,2,2,2
}

.clearBorder {
	-fx-border-style: none;
}

.label{
	-fx-font-size:50px;
}

.text-area {
	-fx-highlight-fill: #bbccff;
	-fx-highlight-text-fill: black;
	-fx-background-color: white;
}

.text-field {
	-fx-background-color: white;
	-fx-font-size: 30px;
	-fx-background-radius: 50px;
	-fx-border-color: #bbccff;
	-fx-border-radius: 47px;
	-fx-border-width: 3 3 3 3;
	-fx-highlight-fill: #bbccff;
	-fx-highlight-text-fill: black;
}

.scroll-bar:vertical{
    -fx-background-color:#bbccff;
}

.increment-button, .decrement-button {
    -fx-background-color: #D5DFFF;
    -fx-border-color: #bbccff;
}

.increment-arrow, .decrement-arrow {
	-fx-background-color: #bbccff;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #D5DFFF;
    -fx-background-radius: 5em;
}

.progress-bar {
	-fx-text-box-border: transparent;
	-fx-control-inner-background: transparent;
	-fx-accent: #D5DFFF;
}






